  
    <div class="col-md-6 mb-4">
      <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
      <h4><strong>Facilis consequatur eligendi</strong></h4>
      <p class="text-muted">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
        eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
        sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
      </p>
      <button type="button" class="btn btn-primary">Read more</button>
      <a href="{% url 'posts:post_detail' post_id=post.pk %}">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>